<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
      <h1 style="text-align: center;"><span style="color:#B7451C;"><span style="font-size:30px;"><span style="font-family:arial,helvetica,sans-serif;">Welcome to Terminus</span></span></span></h1>
      <div>
        <img class="max-width" border="0" style="display:block; margin: 0 auto; color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:100% !important;width:30%;height:auto !important;" src="https://golfcarsales.com/wp-content/uploads/2013/06/placeholder.gif" alt="" width="600">
        <div style="text-align: center; margin: 0 auto; width: 600px">
          <h3>Hi <%= @params[:user_detail][:first_name] %>, your account has been successfully activated.</h3>
          <h4>Here are your login credentials:</h4>
          <h4>Email: <%= @params[:email] %></h4>
          <h4>Password: <%= @params[:password] %></h4>
        </div>
        <div style="text-align: center;">
          <a style="background-color:#b7451c;border:1px solid #333333;border-color:#b7451c;border-radius:4px;border-width:1px;color:#ffffff;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:normal;letter-spacing:0px;line-height:10px;padding:15px 75px 15px 75px;text-align:center;text-decoration:none" href="http://staging.projectterminus.io/signin" target="_blank">Click to log in</a>
        </div>
      </div>
      
  </body>
</html>
